

<mat-toolbar color="primary">
  <button mat-button [routerLink]="['/']" routerLinkActive="router-link-active" style="font-size: 20px;">Michael Gutkin</button>
  <button mat-button [routerLink]="['/education']" routerLinkActive="router-link-active" >Knowledge</button>
  <button mat-button [routerLink]="['/portfolio']" routerLinkActive="router-link-active" >Portfolio</button>
  <button mat-button [routerLink]="['/experience']" routerLinkActive="router-link-active" >Experience</button>
  <button mat-button [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</button>
</mat-toolbar>

