
<div class="mainPageContainer">
  <div class="subContainer">
    <mat-card>
      <mat-card-title>
        <h5>For now, this section will hold links to my github and linkedin accounts.</h5>
      </mat-card-title>
      <mat-card-subtitle>
        But that's only temporary, I'm working hard on getting a few projects up and running.
      </mat-card-subtitle>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <a href="https://github.com/miha0110">
              <img src="../../../assets/logos/github.svg"/>Go to my github page
            </a>
          </mat-list-item>
          <mat-list-item>
              <a href="https://www.linkedin.com/in/michael-gutkin">
                <img src="../../../assets/logos/linkedin.svg"/>Go to my linkedin page
              </a>
            </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
