<div class="mainPageContainer">
  <div class="subContainer">
    <mat-card>
      <mat-card-title color="primary">
        Programming <small>and scripting languages</small>
      </mat-card-title>
      <mat-card-subtitle>

      </mat-card-subtitle>
      <mat-card-content style="display:flex">
        <mat-list>
          <mat-list-item><img src="../../../assets/logos/typescript.svg" />Typescript</mat-list-item>
          <mat-list-item><img src="../../../assets/logos/javascript.svg" />Javascript</mat-list-item>
          <mat-list-item><img src="../../../assets/logos/java.svg" />Java</mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item><img src="../../../assets/logos/c.svg" />C</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Frameworks, <small>libraries, runtimes and engines</small>
      </mat-card-title>
      <mat-card-subtitle>

      </mat-card-subtitle>
      <mat-card-content style="display:flex">
        <mat-list>
          <mat-list-item><img src="../../../assets/logos/angular.svg" />Angular</mat-list-item>
          <mat-list-item><img src="../../../assets/logos/react.svg" />React</mat-list-item>
          <mat-list-item><img src="../../../assets/logos/react.svg" />React Native</mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item><img src="../../../assets/logos/nodejs.svg" />Node</mat-list-item>
          <mat-list-item><img src="../../../assets/logos/bootstrap.svg" />Bootstrap</mat-list-item>
          <mat-list-item><img src="../../../assets/logos/angular.svg" />Angular material</mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item><img src="../../../assets/logos/redux.svg" />Redux</mat-list-item>
          <mat-list-item><img src="../../../assets/logos/express.svg" />Express</mat-list-item>
          <mat-list-item><img src="../../../assets/logos/npm.svg" />Npm</mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item><img src="../../../assets/logos/yarn.svg" />Yarn</mat-list-item>

        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Operating systems
      </mat-card-title>
      <mat-card-subtitle>

      </mat-card-subtitle>
      <mat-card-content style="display:flex">
        <mat-list>
          <mat-list-item><img src="../../../assets/logos/windows.svg"/>Windows</mat-list-item>
          <mat-list-item><img src="../../../assets//logos/ubuntu.svg"/>Linux(Ubuntu)</mat-list-item>
          <mat-list-item><img src="../../../assets/logos/apple.svg"/>MacOs</mat-list-item>
        </mat-list>
        <mat-list>
            <mat-list-item><img src="../../../assets/logos/android.svg"/>Android</mat-list-item>
            <mat-list-item><img src="../../../assets/logos/apple.svg"/>Ios</mat-list-item>
          </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>
          IDE
        </mat-card-title>
        <mat-card-subtitle>

        </mat-card-subtitle>
        <mat-card-content style="display:flex">
          <mat-list>
            <mat-list-item><img src="../../../assets/logos/vsc.svg"/>Visual studio code</mat-list-item>
            <mat-list-item><img src="../../../assets//logos/bluej.png"/>BlueJ</mat-list-item>
            <mat-list-item><img src="../../../assets/logos/Eclipse.png"/>Eclipse</mat-list-item>
          </mat-list>
          <mat-list>
              <mat-list-item><img src="../../../assets/logos/apple.svg"/>Xcode</mat-list-item>
              <mat-list-item><img src="../../../assets/logos/android.svg"/>Android studio</mat-list-item>
            </mat-list>
        </mat-card-content>
      </mat-card>

      <mat-card>
          <mat-card-title>
            Gits
          </mat-card-title>
          <mat-card-subtitle>

          </mat-card-subtitle>
          <mat-card-content style="display:flex">
            <mat-list>
              <mat-list-item><img src="../../../assets/logos/github.svg"/>Github</mat-list-item>
              <mat-list-item><img src="../../../assets//logos/bitbucket.svg"/>Bitbucket</mat-list-item>

            </mat-list>
          </mat-card-content>
        </mat-card>

  </div>
</div>
