/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


body{
  margin: 0px;
  padding: 0px;
}



.subContainer{
  /* background-color: #7446c4; */
  width: 80%;
  margin: 0 auto auto;
}

mat-card{
  margin: 2rem;
  overflow: auto;
}

mat-card-title{
  color: #673AB7;
}
